<div class="main">
  <h1>AgenDaZ</h1>
  <label for="addTaskInput">What would you like to do today?</label>

<input
  #newTask
  placeholder="add a task"
  (keyup.enter)="addTask(newTask.value); newTask.value = ''"
  class="lg-text-input"
  id="addTaskInput" />

<button class="btn-primary" (click)="addTask(newTask.value)">Add</button>

  <!-- Buttons that show all, still to do, or done items on click -->
  <div class="btn-wrapper">
    <button
      class="btn btn-menu"
      [class.active]="filter == 'all'"
      (click)="filter = 'all'">
      All
    </button>

    <button
      class="btn btn-menu"
      [class.active]="filter == 'active'"
      (click)="filter = 'active'">
      To Do
    </button>

    <button
      class="btn btn-menu"
      [class.active]="filter == 'done'"
      (click)="filter = 'done'">
      Done
    </button>
  </div>

<h2>{{tasks.length}} <span *ngIf="tasks.length === 1; else elseBlock">task</span>
  <ng-template #elseBlock>tasks</ng-template></h2>

  <ul>
    <li *ngFor="let i of tasks">
      <app-task (remove)="remove(i)" [task]="i"></app-task>
    </li>
  </ul>

</div>
